<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SongRecommend"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SongRecommend;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="PotpolioAzure"
         connectionString="Server=tcp:portpoliodbserver.database.windows.net,1433;Initial Catalog=Portpolio_db;Persist Security Info=False;User ID=hunt2433;Password=rkd085208!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>